.menu-fastfood {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.menu-row h3{
    color: red;
    font-size: 30px;
    font-weight: 600;
    margin: 35px 0;
}

.food-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 35px;
}

.menu-row h3 .line-chickenfried {
    width: 96px; 
    height: 4px;
    background: red;
}

.menu-row h3 .line-hamburger {
    width: 160px; 
    height: 4px;
    background: red;
}

.menu-row h3 .line-drink {
    width: 380px; 
    height: 4px;
    background: red;
}

.menu-row h3 .line-pizza {
    width: 78px; 
    height: 4px;
    background: red;
}

.menu-row h3 .line-dishtogether {
    width: 175px; 
    height: 4px;
    background: red;
}
