.register-page {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.form-register {
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.login-link {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.chbox-group span{
    font-size: 14px;
}

.btn-register {
    background: #FF8C00;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-register:hover {
    background: #D2691E;
    transition: all 0.4s;
}